<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('base.base') }}">Auto<span>GO</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    {% if current_user.tier == 0 %}
                        <!-- Opciones exclusivas de Admin -->
                        <li class="nav-item"><a href="{{ url_for('base.base') }}" class="nav-link">Inicio</a></li>
                        <li class="nav-item"><a href="{{ url_for('users.dashboard') }}" class="nav-link">Dashboard</a></li>
                        <li class="nav-item"><a href="{{ url_for('cars.list_cars') }}" class="nav-link">Vehículos</a></li>
                        <li class="nav-item"><a href="{{ url_for('reservations.list_reservations') }}" class="nav-link">Reservas</a></li>
                        <li class="nav-item"><a href="{{ url_for('users.list_users') }}" class="nav-link">Usuarios</a></li>
                    {% else %}
                        <!-- Opciones exclusivas para Stock y User -->
                        <li class="nav-item"><a href="{{ url_for('base.base') }}" class="nav-link">Inicio</a></li>
                        <li class="nav-item"><a href="{{ url_for('base.base') }}#nosotros" class="nav-link">Nosotros</a></li>
                        <li class="nav-item"><a href="{{ url_for('cars.pricing') }}" class="nav-link">Precios</a></li>
                        <li class="nav-item"><a href="{{ url_for('cars.user_cars') }}" class="nav-link">Vehículos</a></li>
                        <li class="nav-item"><a href="{{ url_for('reservations.create_reservation') }}" class="nav-link">Reservas</a></li>
                    {% endif %}
                    
                    <!-- Dropdown para usuarios autenticados -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-primary text-white ml-3 px-4"
                           href="{{ url_for('auth.account') }}" id="accountDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Sesión Iniciada
                        </a>
                        <div class="dropdown-menu" aria-labelledby="accountDropdown">
                            <a class="dropdown-item" href="{{ url_for('auth.account') }}">Mi Cuenta</a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
                        </div>
                    </li>
                {% else %}
                    <!-- Opciones para usuarios no autenticados -->
                    <li class="nav-item"><a href="{{ url_for('base.base') }}" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="{{ url_for('base.base') }}#nosotros" class="nav-link">Nosotros</a></li>
                    <li class="nav-item"><a href="{{ url_for('cars.user_cars') }}" class="nav-link">Vehículos</a></li>
                    <li class="nav-item"><a href="{{ url_for('reservations.create_reservation') }}" class="nav-link">Reservas</a></li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}" class="nav-link btn btn-primary text-white ml-3 px-4">
                            Iniciar Sesión
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
