<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <a href="{{ url_for('base.base') }}">HOME</a>
    <h1>Create User</h1>
    <form method="POST" action="{{ url_for('users.create_user') }}">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>

        <label for="dob">Date of Birth:</label>
        <input type="date" name="dob" id="dob" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>

        {% if current_user.tier == 0 %} <!-- Check if the user is an admin -->
        <label for="tier">User Tier:</label>
        <select name="tier" id="tier" required>
            <option value="0">Admin</option>
            <option value="1">Worker</option>
            <option value="2">Client</option>
        </select>
        <br>
        {% endif %}

        <button type="submit">Create</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <ul>
              {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}

    <a href="{{ url_for('users.list_users') }}">Back to Users List</a>
</body>
</html>