<html>
<head>
    <title>Update Car</title>
</head>
<body>
    <a href="{{ url_for('base.base') }}">HOME</a>
    <h1>Update Car</h1>
    <form method="post">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" value="{{ vehicle.brand }}" required>
        <br>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" value="{{ vehicle.model }}" required>
        <br>
        <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('cars.list_cars') }}">Back to List</a>
</body>
</html>