<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}AutoGO, Alquiler de Autos{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AutoGO: la mejor forma de alquilar autos en Perú.">
    <meta name="keywords" content="alquiler de autos, transporte, movilidad, Perú, autos en alquiler">
    <meta name="author" content="AutoGO">
    {% include 'components/styles.html' %}
    {% block head_styles %}{% endblock %}
</head>

<body>
 
    <!-- Navbar -->
    {% include 'components/navbar.html' %}

    <!-- Contenido dinámico -->
    {% block content %}{% endblock %}

   <!-- Footer -->
   {% include 'components/footer.html' %}

    <!-- Loader -->
    {% include 'components/loader.html' %}

    <!-- Scripts -->
{% include 'components/scripts.html' %}
</body>
</html>